* {
    margin:0;
    padding:0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container{
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

div.hero {
    background-image: url(img/sky.jpeg);
    height: 60vh;
    background-position: center center;
    background-size: cover;
}
div.header-content {
    padding-top: 4rem;
}
nav.social-media{
    text-align: center;
}
nav.social-media a{
    color:white;
    font-size: 2rem;
    margin-right: 2rem;
    filter: drop-shadow(5px 7px 3px rgb(0 0 0 / 0.4));
}
.site-name{
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
        font-family: 'Open Sans', sans-serif;
        font-weight: 80px;
        font-size: 80px;
}
h1{
    font-size:11vh;
    text-transform:uppercase;
    color:white;
    text-shadow: 0 0 3px black;
    text-align: center;
}
h4{
    font-weight:30px;
    font-size: 30px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
p.slogan{
    color:white;
    font-weight: 900;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
div.information div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p.city, p.date{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
p.city i, p.date i{
    color: #fe4918;
    font-size: 30px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.nav-bar{
    background-color: #cfbed6;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    border: double white;
}
nav.menu a{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 2.0rem;
    text-transform:uppercase;
    text-decoration: none;
    padding: 2px 2px;
    display: inline-block;
    width: auto;
    display: inline-block;
    text-align: center;
    margin: 0 10px 0 0;
    font-weight: 900;
    background-color: #fcd4ec;
    border: double #cfbed6;
}
nav.menu a:hover{
    background-color: #cfbed6;
    opacity: 1;
}
footer {
    background-color: #cfbed6;
    height: 40px;
    text-align: center;
    text-shadow: 10px, 10px black;
    padding: 50;
    border: double white;
    font-weight: bold;
    font-size: 20px;
    color: white;
}